{{#if (anyFlakyTests ctrf.tests)}}
| **Flaky Tests {{getCtrfEmoji "flaky"}}** | **Retries** |
| --- | --- |
{{#each ctrf.tests}}
    {{#if flaky}}
| {{name}} | {{retries}} |
    {{/if}}
{{/each}}
{{else}}
<p>No flaky tests ✨</p>
{{/if}}
