name: build-and-test

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'
  schedule:
    - cron: '0 2 * * *'

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install dependencies
        run: npm install
      - name: Build
        run: npm run all:action
      - name: Publish Test Report
        uses: ./
        with:
          report-path: './ctrf/*.json'
          summary-report: true
          test-report: true
          test-list-report: true
          use-suite-name: true
          collapse-large-reports: true
          upload-artifact: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: always()
      - name: Publish Test Report
        uses: ./
        with:
          report-path: './ctrf/*.json'
          pull-request-report: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: always()